pid_file = /tmp/smsalive.pid
logfile = /tmp/smsalive.log
daemonize = 1
verbosity = 1

sms_activated = 0
sipgate_user = foo
sipgate_pass = bar
cellphone = 4966612345

host1 = google.de
host2 = heise.de

failcount = 3
